<div class="card">
    <div class="card-header text-center">
      Academics in Islamabad City
    </div>
    <div class="card-body">
        <div class="row container">
          <div class="card-body">
            <div class="row container">
                <div class="card" style="width: 18rem;" *ngFor="let item of data">
                    <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{item.name}}</h5>
                      <p class="card-text">{{item.description}}</p>
                      <a href="#" class="btn btn-primary">More Information</a>
                    </div>
                  </div>
            </div>
            
        </div>
              
        </div>
        
    </div>
  </div>

