<nav class="navbar navbar-expand-sm bg-danger navbar-dark headerspecial">
    <ul class="navbar-nav">
      <img width="5%" height="5%" src="assets/logos/failmsjd.png" style="margin-right: 10px;">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="restaurants">Restaurants</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="academics">Academics</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="parks">Parks</a>
      </li>
    </ul>
  </nav>