<div class="jumbotron jumbotron-fluid bg-dark special">
  
    <div class="jumbotron-background">
      <!-- <img src="https://external-preview.redd.it/WmYjgnEVp-cRS8DH-xt3wFVhtexleQMeF-6ZZY_sTLM.jpg?auto=webp&s=9e0259cf26ab2d6ad392cd9b6cbc6e303b91623c" class="blur "> -->
    </div>
  
    <div class="container text-white">
  
      <h1 class="display-4 text-center">Islamabad Explorer</h1>
      <p class="lead text-center">Let's explore Islamabad together</p>
      <p class="lead text-center">Developed with love by Jamal hussain</p>
      <!-- <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  
    </div>
    <!-- /.container -->
    
   
  </div>